<div *ngIf="invalidExpression"><h4>Invalid expression</h4></div>

<div>
    <label>Equation:
        <input [(ngModel)]="currentEquationBody" placeholder="enter equation in here">
    </label>
</div>

<table class="table table-bordered table-hover table-condensed">
    <tr>
        <td>
            <button (click)="addText(one)">1</button>
        </td>
        <td>
            <button (click)="addText(two)">2</button>
        </td>
        <td>
            <button (click)="addText(three)">3</button>
        </td>
        <td>
            <button (click)="addText(four)">4</button>
        </td>
        <td>
            <button (click)="addText(plus)">+</button>
        </td>
    </tr>
    <tr>
        <td>
            <button (click)="addText(five)">5</button>
        </td>
        <td>
            <button (click)="addText(six)">6</button>
        </td>
        <td>
            <button (click)="addText(seven)">7</button>
        </td>
        <td>
            <button (click)="addText(eight)">8</button>
        </td>
        <td>
            <button (click)="addText(minus)">-</button>
        </td>
    </tr>
    <tr>
        <td>
            <button (click)="addText(nine)">9</button>
        </td>
        <td>
            <button (click)="addText(zero)">0</button>
        </td>
        <td>
            <button (click)="addText(openB)">(</button>
        </td>
        <td>
            <button (click)="addText(closeB)">)</button>
        </td>
        <td>
            <button (click)="addText(times)">*</button>
        </td>
    </tr>
    <tr>
        <td>
            <button (click)="addText(sin)">sin</button>
        </td>
        <td>
            <button (click)="addText(cos)">cos</button>
        </td>
        <td>
            <button (click)="addText(tan)">tan</button>
        </td>
        <td>
            <button (click)="addText(div)">/</button>
        </td>
        <td>
            <button (click)="addRand()">Add RAND</button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button (click)="calculate(currentEquationBody)">Calculate!</button>
        </td>
    </tr>
</table>


<h2>Previous Equations</h2>
<ul class="equations">
    <li *ngFor="let equation of equations.reverse()" [class.selected]="equation === selectedEquation" (click)="onSelect(equation)">
        <span class="badge">{{equation.result}}</span> {{equation.body}}
    </li>
</ul>