/* table, th, td {
  border: 1px solid black;
} */

table {
  border-collapse: collapse;
  table-layout: fixed ;
  width: 100% ;
}

td {
  width: 75% ;
  height: 75%;
  text-align: center;
  vertical-align: middle;
}

button {
  width: 75% ;
  height: 75%;
  text-align: center;
  vertical-align: middle;
  color: #444444;
  background: #F3F3F3;
  border: 1px #DADADA solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 9pt;
  outline: none;
}

/* CalculatorComponent's private CSS styles */
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.equations {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.equations li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.equations li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.equations li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.equations .text {
  position: relative;
  top: -3px;
}
.equations .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  right: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
